# In order to get .env approach working, you might copy this file. This file is read
# line by line by django-environ library (Refer to its documentation to more info).
# Each line is formed by KEY=VALUE where `KEY` is the configuration read by the
# settings.py file. You need to change the values after the `=` sign and can create
# new values by appending new variables at the end of the file.
# =====
SECRET_KEY=<random_string_goes_here>
DEBUG=1

HOST=localhost
PORT=8000
ALLOWED_HOSTS=*
CORS_ORIGIN_ALLOW_ALL=True

LANGUAGE_CODE=en-us
USE_I18N=True

DB_DEFAULT_NAME=db
DB_DEFAULT_HOST=postgres
DB_DEFAULT_USER=postgres
DB_DEFAULT_PWD=postgres
DB_DEFAULT_PORT=5432

REDIS_SSL=False
#REDIS_USERNAME=
REDIS_HOST=redis
REDIS_PORT=6379
